<body>
  <div class="builder">
		<div class="formheader">
      <h2 class="badge badge-primary Newbadge edit">Edit Comment</h2>
    </div>
 		<div class="Listing-4" > 
			<%= render 'form' %>
 		</div>
	</div>
</body>