<table id="customers">
    <thead>
          <th>Name</th>
    </thead>
    
     <tbody>
       <tr>
          <td>
              <%= @users.name %>
            </td>
        </tr>
      </tbody>
</table>