<table id="customers">
    <thead>
          <th>UserName</th>
    </thead>
    
     <tbody>
       <tr>
          <td>
              <%= truncate(user.name ,length: 15) %>
            </td>
        </tr>
      </tbody>
</table>