<div class="jumbotron">
<center><h2><b>Handling Large data</b></h2></center>
	<div class="user">
	  <%= render 'users/list', users: @users %>
	</div>
	<div align="center">
		<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
	</div>
</div>