<body>
  <div class="builder">
    <div class="formheader">
      <h2 class="badge badge-primary Newbadge">New User</h2>
    </div>
    <div class="Listing-4" id="new_page">  
      <%= render 'form' %>
    </div>
  </div>
</body>



