<body class="page_3_body">
	<form>
  		<div class="container">
  			<h2><center>Login Form</center></h2>
  			<hr>
    		<label for="uname" class="fields"><b>Username</b></label>
    		<input type="text" placeholder="Enter Username" name="uname" required>

    		<label for="psw" class="fields"><b>Password</b></label>
    		<input type="password" placeholder="Enter Password" name="psw" required>
        
    		<button type="submit" onclick="myfunction()">Login</button>
    	</div>
  </form>
</body>

