<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-sm-6">

      <div class="card border-info">
        <div class="card-header">
          <h2 class="badge badge-primary Newbadge">Edit Customer</h2>
        </div>
        <div class="card-body">
          
         <%= render 'form', customer: @customer %>
				 <%= link_to 'Back', customers_path,{:class=>'btn btn-warning back' } %>
          <%= link_to 'Show', @customer,{:class=>'btn btn-success show_article' } %>
        </div>
      </div>
    </div>
  </div>
</div>


