Hello <%= @customer.name %>,You are successfully registered in article website. 

<p>
  So you are able to signin with your credentials.
</p>

<%= image_tag(attachments['article.jpg'].url) %>
<h2>Thank You..........</h2>
