<div class="container">
	<center>
		<legend>New Post</legend>

			<div class="form-group">
				<%= render 'form', post: @post %>
					
			</div>

				<%= link_to 'Back', posts_path,class: "navbar-brand" %>
	</center>
</div>
