label{
  float:left;
  color:#343a40;
}
body{
  background-color:lightgrey;
  padding: 5px;
}
.container{
  background-color:white;
  padding: 10px;
  margin-top:3%;
  width:40%;
  margin-left: auto;
  margin-right:auto;
  height:800px;
  margin-bottom: 2%;
}
#index_page{
  background-color:white;
  padding: 10px;
  margin-top:3%;
}
.form_page{
  width:50%;
  margin-left: auto;
  margin-right:auto;
}
#customers{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f5f5f6;
  color: #8f95a5;
}



#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#f2f2f2;
  color: black;
}
.new{
  border:1px solid lightgrey;
  padding: 30px;
  width:50%;
  margin-left: auto;
  margin-right:auto;
  margin-top:5%; 
}

#btn{
  color:white;
}

.show_article{
  background-color: #4eb293;

}
.edit{
  background-color: #f7aa58;
  color: white;
}
.destroy{
  background-color: #ec5664;
}
.Listbadge{
  background-color:#1d81c4;
  padding: 10px;
}
.Listing{
  border:2px solid lightgrey;
  padding-left:15px;
  padding-top: 10px;
  margin-left: 0.1%;
}
.Listing-2{
  border:2px solid lightgrey;
  padding: 15px;
}
.Newbadge{
  background-color:#1d81c4;
  padding: 10px;
  margin-left: auto;
  margin-right:auto;

}
.Listing-3{
  border:2px solid lightgrey;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width:50%; 
}
.Listing-4{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width:50%; 
}
#newpage{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width:50%; 

}
#edit_page{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width:50%; 
}
.back{
  background-color: #f7aa58;
  color: white;
}
.category{
  width:100%;
}
.description{
  width:100%;
}
.name{
  width:100%;
}
.check_box{
  width:100%;
}

.show_page{
  float:left;
}
.show_page-1{
  float:right;
}
.formheader {
  background-color: white;
  width: 100%;
  border-bottom: 3px solid #ededed;
  padding-left: 5px;
}
.error_msg{
  color: red;
}

button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 300px;
  height:45px;
  background-color: lightblue;
  padding: 5px;
  
}
.column{
  padding-right: 45px;
  border: 1px solid black;
  padding-left: 5px;
  margin-left: 5%;
  margin-bottom: 0.5%;
  background-color: lightblue;
  text-align: center;
}