<footer class="app-footer">
  <div class="bottom-bar">
    All Rights Reserved © 2018 | <a href="/customers/terms">Privacy Policy</a> | <a href="/customers/terms">Terms of Service</a>
  </div>
</footer>