<header class="heading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="item">
          <%= image_tag("1.jpg", :alt => "Articles") %>
        </div>
			</div>
      <div class="col-lg-6 text-center">
        <h1><b>Welcome To Articles</b></h1>
        <h2><b>Rails Application</b></h2>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <%= image_tag("2.jpg", :alt => "Articles") %>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>

 
